@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&display=swap');

body {
    background-color: black;
    background-image: linear-gradient(0deg, #666, #000);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header{
    background-color: #202020;
    padding: 3rem;
    box-shadow: 0 0 50px black;
}

h1 {
    font-family: "Anton", sans-serif;
    letter-spacing: 10px;
    margin: 0;

    color: #a11;
    text-align: center;
    font-size: 7rem;
   
    text-transform: uppercase;

    text-shadow: 0 0 3px ghostwhite;
}


/* main Nav */
nav.mainNav {
    position: sticky;
    top: 0;
    width: 15rem;
    height: 100%;
    background-color: #202020;
    
    margin: 0;
    border-radius: 1rem;
    padding: 1rem 0 ;
}

nav.mainNav a {
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    display: block;
    width: 13rem;
    color: #ccc;
    font-size: 1.8rem;
    padding: 1rem;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    text-shadow: 0 0 15px black;
}

nav.mainNav a:hover {
    
    padding-left: 2rem;
    


}

nav.mainNav a.current {
    text-decoration: underline;
}

/*sub Nav*/

nav.subNav{
    position: sticky;
    width: 90%;
    top: 0;
    background-color: lightgrey;
    z-index: 1;
    margin: 0 2rem;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
    border-bottom: solid 4px darkslategrey;
    
}

nav.subNav a{
    font-family: Tahoma, sans-serif;
    text-decoration: none;
    color: darkslategray;
    margin: 0 1rem;
    min-width: 5rem;
    
    
}

nav.subNav a:hover{
    
    color: black;
    
    font-weight: bold;
    
    
}

section{
    max-width: 80rem;
    margin: auto;
    padding-right: 5vw;
}


img{
    width: 15rem;
}
figure, video, iframe{
    margin: 0;
    padding: 0.5rem;
    float: right;
    font-size: 0.8rem;
    width: 15rem;
    
}



iframe{
    width: 35rem;
}



article {
    
    width: 90%;
    
    position: relative;
    background-color: beige;
    margin: 0 2rem 2rem 2rem; 
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 10px 20px #111;

    font-size: 1.4rem;
    clear: both;
}
article:first-of-type{
    border-radius: 0 0 1rem 1rem;
    
    
}

article h2 {
    font-family: "Acme", sans-serif;
    
    
    text-shadow: 0 0 2px indianred;
}

article p{
    margin: 1rem;
    
}

div.floatclear{
    clear: both;
}

main {
    display: flex;
}

audio{
    background-color: red;
    border-radius: 0.6rem;
}

@media screen and (min-width: 1960px){
    section{
        padding-right: 15rem;
    }
}

@media screen and (max-width: 960px){
    section{
        padding: 0;
        margin: 0;
    }
    article{
        margin: auto;
        margin-bottom: 0.5rem;
        float: none;
        
        
        
    }

    nav.subNav{
        position: sticky;
        width: 90%;
        top: 0;
        background-color: lightgrey;
        z-index: 1;
        margin: auto;
        padding: 1rem;
        border-radius: 1rem 1rem 0 0;
        
        
        border-bottom: solid 4px darkslategrey;
        
    }

    nav.subNav a{
        margin: 0.3rem;
    }
    main{
        display: block;
    }
    nav.mainNav{
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    nav.mainNav a{
        text-align: center;
        display: block;
        font-size: 1rem;
        height: 1.8rem;
        width: 10rem;
        
        
    }

    nav.mainNav a:hover{
        padding-left: 1rem;
        color: beige;
    }
    h1{
        font-size: 5rem;
        padding: 0;
    }

    header{
        padding: 0.5rem 2rem;
    }

    iframe{
        
        float: none;
        display: block;
        
        margin: auto;
    }
}

@media screen and (max-width: 660px){
    figure, video{
        position: relative;
        float: none;
        
        margin: auto;
    }

    

    header{
        padding: 0.5rem 1.5rem;
    }

    h1{
        font-size: 3rem;
    }
}

@media screen and (max-width: 460px){
    header{
        padding: 0.5rem;
    }

}